@font-face {
    font-family: 'conthrax';
    src: url('../fonts/conthrax.ttf');
}

@font-face {
  font-family: 'space-age';
  src: url('../fonts/space-age.ttf');
}

body {
  background: black;
  color: white;
}

h1 {
  font-family: 'space-age';
}

h2, h3, h4 {
  font-family: 'conthrax';
}

div {

}

a, a:link, a:visited {
  color: #6a6f77;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #ccc;
}

header {
  text-align: center;
  font-size: 2em;
}

nav {
  font-family: 'conthrax';
  font-size: 1.8em;
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
  color: #6a6f77;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.planet-image {
  height: 240px;
  width: auto;
}

.planet-header {
  font-family: 'conthrax';
  font-size: 2.8em;
  text-align: center;
}

.planet-details {
  text-align: center;
  padding-bottom: 0.5em;
}

.planet-item {
  padding: 0.7em;
  margin-bottom: 2em;

}

#planets {
  display: flex;
  flex-basis: 20%;
  /* display: inline-flex; */
  flex-wrap: wrap;
  justify-content: space-around;
}
